extends layout

block content
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='') #{title}
	.container(ng-init='week=#{JSON.stringify(week)};' ng-controller='AdminCtrl')
		.row
			.col-md-6
				h2 {{week.theme}}
				.panel.panel-default(ng-repeat='post in week.posts' ng-if='!post.approved')
					.panel-heading #[a(ng-href='{{post.url}}') {{post.name}}]
					.panel-body.
						{{post.desc}} #[button(ng-click='approve(post)').btn.btn-primary Approve]
			.col-md-6
				h2 New Theme
				label Week Number:
				input(ng-model='theme.number' type='number').form-control
				br
				label Theme:
				input(ng-model='theme.theme').form-control
				br
				button(ng-click='newTheme(theme)').btn.btn-success Add Theme
