extends layout

block content
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='') #{title}
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/new') New Post
	.container(ng-init='week=#{JSON.stringify(week)};')
		h2(ng-if='week') Week: {{week.number}}&nbsp;&nbsp;&nbsp;&nbsp;Theme: {{week.theme}}
		br
		.row
			.col-md-4(ng-repeat='post in week.posts' ng-if='post.approved')
				.panel.panel-default
					.panel-heading #[a(ng-href='{{post.url}}') {{post.name}}]
					.panel-body {{post.desc}}
					.panel-footer Made By: {{post.username}}
				h2(ng-if='typof week == "undefined"') No posts yet, check back soon!
