doctype html
html(ng-app='app')
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
	body
		block content
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		script(src='/js/index.js')
