extends layout

block content
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='') #{title}
	.container
		.row
			.col-md-6
				form(action='/login' method='POST')
					label Password:
					input(name='password' type='password').form-control
					br
					button(type='submit').btn.btn-success Login!
