extends layout

block content
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='') #{title}
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/') Home
	.container(ng-controller='NewCtrl')
		.row
			.col-md-6
				h2(ng-if='response') {{response}}
				label Project Name:
				input(type='text' ng-model='post.name').form-control
				br
				label Project Description:
				input(type='text' ng-model='post.desc').form-control
				br
				label Project URL:
				input(type='url' ng-model='post.url').form-control
				br
				label Your Name:
				input(type='text' ng-model='post.username').form-control
				br
				label Your Email:
				input(type='email' ng-model='post.email').form-control
				br
				button(ng-click='submitPost(post)').btn.btn-success Submit
